Morphs/Importers/CoreUtils/Shared/JTSDK/JTOpenToolkit/10_5/include/plmxml/schemas/PLMXMLNGPSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2016 Siemens Product Lifecycle Management Software Inc. All Rights Reserved.
This software and related documentation are proprietary to 
Siemens Product Lifecycle Management Software Inc.
-->
<xsd:schema targetNamespace="http://www.plmxml.org/Schemas/PLMXMLNGPSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:plm="http://www.plmxml.org/Schemas/PLMXMLSchema" xmlns:ngp="http://www.plmxml.org/Schemas/PLMXMLNGPSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.plmxml.org/Schemas/PLMXMLSchema" schemaLocation="PLMXMLSchema.xsd" />
  <xsd:annotation>
    <xsd:documentation source="http://www.plmxml.org/Schemas/PLMXMLSchema/History">
      <plm:SchemaChange author="howardmu" date="2016-05-24" version="7.0.4.415">
        <plm:Description>
        Initial version.
        </plm:Description>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2016-12-12" version="7.0.4.459">
        <plm:Description>
        Replace productModelRefs attribute on ManufacturingModel with ProductModelRelation.
        </plm:Description>
        <plm:Reference locationRef="..//schema/complexType[@name='ManufacturingModelType']/attribute[@name='productModelRefs']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ProductModelRelationType']" />
        <plm:Reference locationRef="..//schema/element[@name='ProductModelRelation']" />
      </plm:SchemaChange>
    </xsd:documentation>
    <xsd:documentation>

                                PLM XML Next Generation Planning Schema.

    </xsd:documentation>
    <xsd:appinfo source="http://www.plmxml.org/Schemas/PLMXMLNGPSchema">
      <plm:SchemaInfo name="PLMXMLNGPSchema.xsd" date="2016-05-24" version="6.0" status="release" />
    </xsd:appinfo>
  </xsd:annotation>
  <!-- -->
  <!-- Manufacturing Model -->
  <!-- -->
  <xsd:complexType name="ManufacturingModelType">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Manufacturing Model.

      Attributes:

      modelId:          The identifier of the Manufacturing Model.
      productModelRefs: References Collaborative Designs.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureBase">
        <xsd:attribute name="modelId" type="xsd:string" />
        <xsd:attribute name="productModelRefs" type="plm:uriReferenceListType" plm:refType="plm:CollaborativeDesign" plm:deprecated="true" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ManufacturingModel" type="ngp:ManufacturingModelType" substitutionGroup="plm:Structure" />
  <!-- -->
  <xsd:complexType name="ManufacturingModelStructureViewType">
    <xsd:annotation>
      <xsd:documentation>
      A view of a 4G Manufacturing Model.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureViewType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ManufacturingModelStructureView" type="ngp:ManufacturingModelStructureViewType" substitutionGroup="plm:StructureView" />
  <!-- -->
  <xsd:complexType name="ManufacturingModelRevisionType">
    <xsd:annotation>
      <xsd:documentation>
      A revision of a 4G Manufacturing Model.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureRevisionBase" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ManufacturingModelRevision" type="ngp:ManufacturingModelRevisionType" substitutionGroup="plm:StructureRevision" />
  <!-- -->
  <xsd:complexType name="ManufacturingModelRevisionViewType">
    <xsd:annotation>
      <xsd:documentation>
      A view of a revision of a 4G Manufacturing Model.

      Sub-elements:

      ModelElement:     4G Model Elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureRevisionViewBase">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="plm:ModelElement" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ManufacturingModelRevisionView" type="ngp:ManufacturingModelRevisionViewType" substitutionGroup="plm:StructureRevisionView" />
  <!-- -->
  <!-- Manufacturing Model Element -->
  <!-- -->
  <xsd:complexType name="ManufacturingModelElementBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Manufacturing Model Element.

      Attributes:

      objectId:         The identifier of the Manufacturing Model Element.

      Sub-elements:

      AssociatedDataSet: Inherited from ModelElement.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:ModelElementBase">
        <xsd:attribute name="objectId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ManufacturingModelElement" type="ngp:ManufacturingModelElementBase" substitutionGroup="plm:ModelElement" />
  <!-- -->
  <!-- Build Element -->
  <!-- -->
  <xsd:complexType name="BuildElementType">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Build Element.

      Attributes:

      objectId:         Inherited from ManufacturingModelElement. The identifier
                        of the Build Element.
      activityElementRefs: References Activity Elements.
      subBuildElementRefs: References subordinate Build Elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ngp:ManufacturingModelElementBase">
        <xsd:attribute name="activityElementRefs" type="plm:uriReferenceListType" plm:refType="ngp:ActivityElement" />
        <xsd:attribute name="subBuildElementRefs" type="plm:uriReferenceListType" plm:refType="ngp:BuildElement" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BuildElement" type="ngp:BuildElementType" substitutionGroup="ngp:ManufacturingModelElement" />
  <!-- -->
  <!-- Activity Element -->
  <!-- -->
  <xsd:complexType name="ActivityElementType">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Activity Element.

      Attributes:

      objectId:         Inherited from ManufacturingModelElement. The identifier
                        of the Activity Element.
      processElementRefs: References the Process Elements to which this Activity
                        Element relates.
      manufacturingElementRefs: References the Manufacturing Elements to which
                        this Activity Element relates.
      subsetInstanceRefs: References the SubsetInstances to which this Activity
                        Element relates.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ngp:ManufacturingModelElementBase">
        <xsd:attribute name="processElementRefs" type="plm:uriReferenceListType" plm:refType="ngp:ProcessElement" />
        <xsd:attribute name="manufacturingElementRefs" type="plm:uriReferenceListType" plm:refType="ngp:ManufacturingElement" />
        <xsd:attribute name="subsetInstanceRefs" type="plm:uriReferenceListType" plm:refType="plm:SubsetInstance" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivityElement" type="ngp:ActivityElementType" substitutionGroup="ngp:ManufacturingModelElement" />
  <!-- -->
  <!-- Manufacturing Element -->
  <!-- -->
  <xsd:complexType name="ManufacturingElementType">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Manufacturing Element.

      Attributes:

      objectId:         Inherited from ManufacturingModelElement. The identifier
                        of the Manufacturing Element.
      subManufacturingElementRefs: References subordinate Manufacturing
                        Elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ngp:ManufacturingModelElementBase">
        <xsd:attribute name="subManufacturingElementRefs" type="plm:uriReferenceListType" plm:refType="ngp:ManufacturingElement" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ManufacturingElement" type="ngp:ManufacturingElementType" substitutionGroup="plm:ModelElement" />
  <!-- -->
  <!-- Process Element -->
  <!-- -->
  <xsd:complexType name="ProcessElementType">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Process Element.

      Attributes:

      objectId:         Inherited from ManufacturingModelElement. The identifier
                        of the Process Element.
      operationElementRefs: References the subordinate Operation Elements.
      manufacturingElementRefs: References the Manufacturing Elements to which
                        this Process Element relates.
      predecessorRefs:  References predecessor Process Elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ngp:ManufacturingModelElementBase">
        <xsd:attribute name="operationElementRefs" type="plm:uriReferenceListType" plm:refType="ngp:OperationElement" />
        <xsd:attribute name="manufacturingElementRefs" type="plm:uriReferenceListType" plm:refType="ngp:ManufacturingElement" />
        <xsd:attribute name="predecessorRefs" type="plm:uriReferenceListType" plm:refType="ngp:ProcessElement" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ProcessElement" type="ngp:ProcessElementType" substitutionGroup="ngp:ManufacturingModelElement" />
  <!-- -->
  <!-- Operation Element -->
  <!-- -->
  <xsd:complexType name="OperationElementType">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Operation Element.

      Attributes:

      objectId:         Inherited from ManufacturingModelElement. The identifier
                        of the Operation Element.
      predecessorRefs:  References predecessor Operation Elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ngp:ManufacturingModelElementBase">
        <xsd:attribute name="predecessorRefs" type="plm:uriReferenceListType" plm:refType="ngp:OperationElement" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OperationElement" type="ngp:OperationElementType" substitutionGroup="ngp:ManufacturingModelElement" />
  <!-- -->
  <!-- Assignment -->
  <!-- -->
  <xsd:complexType name="AssignmentType">
    <xsd:annotation>
      <xsd:documentation>
      A 4G Assignment.

      Attributes:

      subType:          Inherited from GeneralRelation.
      derived:          Whether the Assignment is derived.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:GeneralRelationType">
        <xsd:attribute name="derived" type="xsd:boolean" default="false" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Assignment" type="ngp:AssignmentType" substitutionGroup="plm:GeneralRelation" />
  <!-- -->
  <!-- Product Model Relation -->
  <!-- -->
  <xsd:complexType name="ProductModelRelationType">
    <xsd:annotation>
      <xsd:documentation>
      Relates a ManufacturingModel to a CollaborativeDesign. The references in
      the inherited relatedRefs attribute must be in that order.

      Attributes:

      subType:          Inherited from GeneralRelation.
      relatedRefs:      Inherited from GeneralRelation. Relates a
                        ManufacturingModel to a CollaborativeDesign in that
                        order.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:GeneralRelationType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ProductModelRelation" type="ngp:ProductModelRelationType" substitutionGroup="plm:GeneralRelation" />
</xsd:schema>
