Morphs/Importers/CoreUtils/Shared/JTSDK/JTOpenToolkit/10_5/include/plmxml/schemas/PLMXMLSchedulingSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
Copyright 2008 Siemens Product Lifecycle Management Software Inc. All Rights Reserved.
This software and related documentation are proprietary to 
Siemens Product Lifecycle Management Software Inc.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plm="http://www.plmxml.org/Schemas/PLMXMLSchema" targetNamespace="http://www.plmxml.org/Schemas/PLMXMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
  <xsd:include schemaLocation="PLMXMLSchema.xsd"/>
  <xsd:annotation>
    <xsd:documentation source="http://www.plmxml.org/Schemas/PLMXMLSchema/History">
      <plm:SchemaChange author="howardmu" date="2008-05-09" version="7.0.0.24">
        <plm:Description>
        Currency and Money moved to the base schema.
        </plm:Description>
        <plm:Reference locationRef="..//schema/simpleType[@name='CurrencyType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='MoneyType']"/>
        <plm:Reference locationRef="..//schema/element[@name='Money']"/>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2009-11-17" version="7.0.2.83">
        <plm:Description>
        Multiple language support added.
        </plm:Description>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleType']/attribute[@name='customerNameRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleType']/attribute[@name='customerNumberRef']"/>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2011-05-27" version="7.0.2.223">
        <plm:Description>
        Add support for proxy tasks in multiple schedules.
        </plm:Description>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleType']/attribute[@name='activeBaselineRef']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleProgressEnum']/enumeration[@value='needsAttention']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleProgressEnum']/enumeration[@value='abandoned']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleProgressEnum']/enumeration[@value='late']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleProgressEnum']/enumeration[@value='closed']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleEnum']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/element[@name='FixedCostInfo']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='baselineCostRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='type']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='masterScheduleRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='finalStatus']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='proxyTaskRefs']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleTaskType']/attribute[@name='originalRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='TaskExecutionInfoType']/attribute[@name='remainingWork']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='TaskExecutionInfoType']/attribute[@name='finalStatus']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleTaskEnum']/enumeration[@value='scheduleSummary']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleTaskEnum']/enumeration[@value='orphan']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleTaskRevisionType']/attribute[@name='baselineCostRef']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleMemberPrivilegeEnum']/enumeration[@value='proxy']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleMemberType']/attribute[@name='scheduleRef']"/>
        <plm:Reference locationRef="..//schema/simpleType[@name='TimeCategoryEnum']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='TimeSheetRecordType']/attribute[@name='taskRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='TimeSheetRecordType']/attribute[@name='timeCategory']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ProxyTaskType']"/>
        <plm:Reference locationRef="..//schema/element[@name='ProxyTask']"/>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2011-07-01" version="7.0.2.234">
        <plm:Description>
        Allow the proxyTaskRefs attribute on ScheduleRevision to reference
        ProxyTask as well as ScheduleTask.
        Add baselineRefs attribute to Schedule.
        Add calendarRef attribute to ScheduleRevision.
        </plm:Description>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='proxyTaskRefs']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleType']/attribute[@name='baselineRefs']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='calendarRef']"/>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2011-08-12" version="7.0.2.243">
        <plm:Description>
        Allow custom billing types.
        </plm:Description>
        <plm:Reference locationRef="..//schema/simpleType[@name='FixedCostBillingTypeEnum']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='FixedCostType']/attribute[@name='billingType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='FixedCostType']/attribute[@name='customBillingType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='FixedCostInfoType']/attribute[@name='billingType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='FixedCostInfoType']/attribute[@name='customBillingType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='TimeSheetRecordType']/attribute[@name='billingType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='TimeSheetRecordType']/attribute[@name='customBillingType']"/>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2012-03-30" version="7.0.3.264">
        <plm:Description>
        Add aborted to ScheduleProgressEnum.
        Add allowExecUpdate to ScheduleRevision.
        Allow resourceRef on ScheduleMember to reference Role and ResourcePool.
        </plm:Description>
        <plm:Reference locationRef="..//schema/simpleType[@name='ScheduleProgressEnum']/enumeration[@value='aborted']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='allowExecUpdate']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleMemberType']/attribute[@name='resourceRef']"/>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2012-11-13" version="7.0.3.281">
        <plm:Description>
        Add datesLinked to ScheduleRevision.
        Add workflowOwnerRef to ScheduleTaskRevision.
        </plm:Description>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='datesLinked']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleTaskRevisionType']/attribute[@name='workflowOwnerRef']"/>
      </plm:SchemaChange>
      <plm:SchemaChange author="howardmu" date="2013-11-22" version="7.0.4.336">
        <plm:Description>
        Deprecate Schedule and ScheduleTask.
        Introduce UnversionedSchedule and UnversionedScheduleTask.
        </plm:Description>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleTaskType']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='summaryTaskRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='masterScheduleRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleRevisionType']/attribute[@name='proxyTaskRefs']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleTaskRevisionType']/attribute[@name='scheduleRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleTaskRevisionType']/attribute[@name='childRefs']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ScheduleMemberType']/attribute[@name='scheduleRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='TimeSheetRecordType']/attribute[@name='taskRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ProxyTaskType']/attribute[@name='scheduleTaskRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='ProxyTaskType']/attribute[@name='scheduleRef']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='UnversionedScheduleType']"/>
        <plm:Reference locationRef="..//schema/element[@name='UnversionedSchedule']"/>
        <plm:Reference locationRef="..//schema/complexType[@name='UnversionedScheduleTaskType']"/>
        <plm:Reference locationRef="..//schema/element[@name='UnversionedScheduleTask']"/>
      </plm:SchemaChange>
    </xsd:documentation>

    <xsd:documentation>

    PLM XML Scheduling Schema.

    </xsd:documentation>
    <xsd:appinfo source="http://www.plmxml.org/Schemas/PLMXMLSchema">
      <plm:SchemaInfo name="PLMXMLSchedulingSchema.xsd" date="2008-05-02" version="6.0" status="release"/>
    </xsd:appinfo>
  </xsd:annotation>
  <!-- -->
  <!-- ********************** BillingRate ******************************** -->
  <!-- -->
  <xsd:complexType name="BillingRateType">
    <xsd:annotation>
      <xsd:documentation>
      Override the billing rates for the ScheduleMember elements assigned to a
      ScheduleTaskRevision.

      Attributes:

      isMultiplier:   Whether the BillingRate multiplies the billing rates for
                      the ScheduleMember elements assigned to the
                      ScheduleTaskRevision.
      multiplier:     The factor by which the billing rates for the
                      ScheduleMember elements assigned to the
                      ScheduleTaskRevision is multiplied.
      moneyRef:       A reference to the Money that overrides the billing
                      rates for the ScheduleMember elements assigned to the
                      ScheduleTaskRevision.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="isMultiplier" type="xsd:boolean" default="false"/>
        <xsd:attribute name="multiplier" type="xsd:decimal" use="optional"/>
        <xsd:attribute name="moneyRef" type="plm:anyURIType" use="optional" plm:refType="plm:Money"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BillingRate" type="plm:BillingRateType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** DailyTime ********************************** -->
  <!-- -->
  <xsd:complexType name="DailyTimeType">
    <xsd:annotation>
      <xsd:documentation>
      Represents a range of time during a day.

      Attributes:

      start:          The time of day at which the range of time starts.
      end:            The time of day at which the range of time ends.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="start" type="xsd:time" use="optional"/>
        <xsd:attribute name="end" type="xsd:time" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DailyTime" type="plm:DailyTimeType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** CalendarEnum ******************************* -->
  <!-- -->
  <xsd:simpleType name="CalendarEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="base"/>
      <xsd:enumeration value="schedule"/>
      <xsd:enumeration value="resource"/>
      <xsd:enumeration value="scheduleMember"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** Calendar *********************************** -->
  <!-- -->
  <xsd:complexType name="CalendarType">
    <xsd:annotation>
      <xsd:documentation>
      Represents the range(s) of working time during a week.

      Attributes:

      baseCalendarType: A reference to any base Calendar.
      name:           Inherited from AttribOwnerBase.
      type:           The type of the calendar.
      timeZone:       The time zone code of the calendar according to
                      http://www.twinsun.com/tz/tz-link.htm. For example,
                      "Europe/Berlin".
      sundayRefs:     A list of references to the DailyTime elements for
                      Sunday. The working time is the union of the times of
                      the DailyTime elements.
      mondayRefs:     A list of references to the DailyTime elements for
                      Monday. The working time is the union of the times of
                      the DailyTime elements.
      tuesdayRefs:    A list of references to the DailyTime elements for
                      Tuesday. The working time is the union of the times of
                      the DailyTime elements.
      wednesdayRefs:  A list of references to the DailyTime elements for
                      Wednesday. The working time is the union of the times of
                      the DailyTime elements.
      thursdayRefs:   A list of references to the DailyTime elements for
                      Thursday. The working time is the union of the times of
                      the DailyTime elements.
      fridayRefs:     A list of references to the DailyTime elements for
                      Friday. The working time is the union of the times of
                      the DailyTime elements.
      saturdayRefs:   A list of references to the DailyTime elements for
                      Saturday. The working time is the union of the times of
                      the DailyTime elements.

      Sub-elements:

      Description:    Inherited from AttribOwnerBase.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="baseCalendarRef" type="plm:anyURIType" use="optional" plm:refType="plm:Calendar"/>
        <xsd:attribute name="type" type="plm:CalendarEnum" use="required"/>
        <xsd:attribute name="timeZone" type="xsd:string" use="optional"/>
        <xsd:attribute name="sundayRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
        <xsd:attribute name="mondayRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
        <xsd:attribute name="tuesdayRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
        <xsd:attribute name="wednesdayRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
        <xsd:attribute name="thursdayRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
        <xsd:attribute name="fridayRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
        <xsd:attribute name="saturdayRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Calendar" type="plm:CalendarType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** CalendarEventEnum ************************** -->
  <!-- -->
  <xsd:simpleType name="CalendarEventEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="daily"/>
      <xsd:enumeration value="weekly"/>
      <xsd:enumeration value="monthly"/>
      <xsd:enumeration value="yearly"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** CalendarEvent ****************************** -->
  <!-- -->
  <xsd:complexType name="CalendarEventType">
    <xsd:annotation>
      <xsd:documentation>
      Overrides the range(s) of working time during a day in a Calendar on a
      possibly recurring basis.

      Attributes:

      calendarRef:    A reference to the Calendar to which the override
                      applies.
      start:          For single day overrides, the date of the first
                      recurrence of the override. For multiple day overrides,
                      the date of the first day of the first recurrence of the
                      override.
      end:            For single day overrides, end is the same as start. For
                      multiple day overrides, the date of the last day of the
                      first recurrence of the override.
      expiry:         The date on which the override expires.
      dailyTimeRefs:  A list of references to the DailyTime elements for the
                      override. The working time is the union of the times of
                      the DailyTime elements.
      type:           The type of the override.
      recurrences:    The number of recurrences of the override.
      interval:       The number of days between recurrences of the override.
      days:           The days of the week on which recurrences of the
                      override occur.
      weeks:          The weeks of the month on which recurrences of the
                      override occur.
      months:         The months of the year on which recurrences of the
                      override occur.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="calendarRef" type="plm:anyURIType" use="optional" plm:refType="plm:Calendar"/>
        <xsd:attribute name="start" type="xsd:date" use="optional"/>
        <xsd:attribute name="end" type="xsd:date" use="optional"/>
        <xsd:attribute name="expiry" type="xsd:date" use="optional"/>
        <xsd:attribute name="dailyTimeRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:DailyTime"/>
        <xsd:attribute name="type" type="plm:CalendarEventEnum" use="required"/>
        <xsd:attribute name="recurrences" type="xsd:integer" use="optional"/>
        <xsd:attribute name="interval" type="xsd:integer" use="optional"/>
        <xsd:attribute name="days" type="plm:IntegerListType" use="optional"/>
        <xsd:attribute name="weeks" type="plm:IntegerListType" use="optional"/>
        <xsd:attribute name="months" type="plm:IntegerListType" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CalendarEvent" type="plm:CalendarEventType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** FixedCostAccrualEnum *********************** -->
  <!-- -->
  <xsd:simpleType name="FixedCostAccrualEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="start"/>
      <xsd:enumeration value="prorated"/>
      <xsd:enumeration value="end"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** FixedCostBillingTypeEnum ******************* -->
  <!-- -->
  <xsd:simpleType name="FixedCostBillingTypeEnum" plm:deprecated="true">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="billable"/>
      <xsd:enumeration value="billed"/>
      <xsd:enumeration value="standard"/>
      <xsd:enumeration value="unbillable"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** FixedCost ********************************** -->
  <!-- -->
  <xsd:complexType name="FixedCostType">
    <xsd:annotation>
      <xsd:documentation>
      Represents information about a single fixed cost.

      Attributes:

      accrual:        The type of accrual for the fixed cost.
      useActualCost:  Whether to use the actual cost, referenced by
                      actualCostRef. The default value of false means that the
                      estimated cost, referenced by estimatedCostRef, should
                      be used.
      billingCode:    The code for the billing of the fixed cost.
      billingSubCode: The sub code for the billing of the fixed cost.
      billingType:    Deprecated in favour of customBillingType.
      actualCostRef:  A reference to the Money element that represents the
                      actual fixed cost.
      estimatedCostRef: A reference to the Money element that represents the
                      estimated fixed cost.
      customBillingType: The type of billing for the fixed cost.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="accrual" type="plm:FixedCostAccrualEnum" default="prorated"/>
        <xsd:attribute name="useActualCost" type="xsd:boolean" default="false"/>
        <xsd:attribute name="billingCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="billingSubCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="billingType" type="plm:FixedCostBillingTypeEnum" use="optional" plm:deprecated="true"/>
        <xsd:attribute name="actualCostRef" type="plm:anyURIType" use="optional" plm:refType="plm:Money"/>
        <xsd:attribute name="estimatedCostRef" type="plm:anyURIType" use="optional" plm:refType="plm:Money"/>
        <xsd:attribute name="customBillingType" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FixedCost" type="plm:FixedCostType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** FixedCostInfoType ************************** -->
  <!-- -->
  <xsd:complexType name="FixedCostInfoType">
    <xsd:annotation>
      <xsd:documentation>
      Represents information about the fixed costs associated with a
      ScheduleRevision or ScheduleTaskRevision.

      Attributes:

      fixedCostRefs:  A list of references to the FixedCost elements that
                      represent the individual fixed costs.
      billingRateRef: A reference to the default BillingRate.
      billingCode:    The default code for the billing of the fixed costs.
      billingSubCode: The default sub code for the billing of the fixed costs.
      billingType:    Deprecated in favour of customBillingType.
      customBillingType: The default type of billing for the fixed costs.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttributeBase">
        <xsd:attribute name="fixedCostRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:FixedCost"/>
        <xsd:attribute name="billingRateRef" type="plm:anyURIType" use="optional" plm:refType="plm:BillingRate"/>
        <xsd:attribute name="billingCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="billingSubCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="billingType" type="plm:FixedCostBillingTypeEnum" use="optional" plm:deprecated="true"/>
        <xsd:attribute name="customBillingType" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- -->
  <!-- ********************** Schedule *********************************** -->
  <!-- -->
  <xsd:complexType name="ScheduleType" plm:deprecated="true">
    <xsd:annotation>
      <xsd:documentation>
      Represents a schedule.

      Attributes:

      name:           Inherited from StructureBase.
      customerName:   The name of the customer.
      customerNumber: The number of the customer.
      customerNameRef: References a multiple language version of customerName.
                      If multiple language support is required, customerNameRef
                      should be used in addition to customerName.
      customerNumberRef: References a multiple language version of
                      customerNumber. If multiple language support is required,
                      customerNumberRef should be used in addition to
                      customerNumber.
      activeBaselineRef: References the active baseline schedule.
      baselineRefs:   References the related baseline schedules.

      Sub-elements:

      Description:    Inherited from StructureBase.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureBase">
        <xsd:attribute name="customerName" type="xsd:string" use="optional"/>
        <xsd:attribute name="customerNumber" type="xsd:string" use="optional"/>
        <xsd:attribute name="customerNameRef" type="plm:anyURIType" use="optional" plm:refType="plm:Text"/>
        <xsd:attribute name="customerNumberRef" type="plm:anyURIType" use="optional" plm:refType="plm:Text"/>
        <xsd:attribute name="activeBaselineRef" type="plm:anyURIType" use="optional" plm:refType="plm:Schedule"/>
        <xsd:attribute name="baselineRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:Schedule"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Schedule" type="plm:ScheduleType" substitutionGroup="plm:Structure"/>
  <!-- -->
  <!-- ********************** SchedulePriorityEnum *********************** -->
  <!-- -->
  <xsd:simpleType name="SchedulePriorityEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="lowest"/>
      <xsd:enumeration value="low"/>
      <xsd:enumeration value="mediumLow"/>
      <xsd:enumeration value="medium"/>
      <xsd:enumeration value="high"/>
      <xsd:enumeration value="veryHigh"/>
      <xsd:enumeration value="highest"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleProgressEnum *********************** -->
  <!-- -->
  <xsd:simpleType name="ScheduleProgressEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="notStarted"/>
      <xsd:enumeration value="inProgress"/>
      <xsd:enumeration value="needsAttention" plm:deprecated="true"/>
      <xsd:enumeration value="complete"/>
      <xsd:enumeration value="abandoned" plm:deprecated="true"/>
      <xsd:enumeration value="late" plm:deprecated="true"/>
      <xsd:enumeration value="closed"/>
      <xsd:enumeration value="aborted"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleEnum ********************************* -->
  <!-- -->
  <xsd:simpleType name="ScheduleEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="normal"/>
      <xsd:enumeration value="master"/>
      <xsd:enumeration value="sub"/>
      <xsd:enumeration value="masterSub"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleRevision *************************** -->
  <!-- -->
  <xsd:complexType name="ScheduleRevisionType">
    <xsd:annotation>
      <xsd:documentation>
      Represents a revision of a schedule.

      Attributes:

      isBaseline:     Whether the ScheduleRevision is a baseline.
      baselineCostRef: If the ScheduleRevision is a baseline, baselineCostRef
                      references a Money representing the baseline cost of the
                      ScheduleRevision. Deprecated.
      summaryTaskRef: A reference to the ScheduleTaskRevision that represents
                      a revision of the top-level summary task for this
                      ScheduleRevision.
      isTemplate:     Whether the ScheduleRevision is a template. Template
                      ScheduleRevision elements cannot be published or
                      executed.
      progress:       The progress of the ScheduleRevision.
      priority:       The priority of the ScheduleRevision.
      isPublished:    Whether the ScheduleMember elements assigned to the
                      ScheduleRevision have access to it.
      isPublic:       Whether ScheduleMember elements that are not assigned to
                      the ScheduleRevision have read access to it. The default
                      value is the value of the isPublished attribute.
      linksAllowed:   Whether the ScheduleTaskRevision elements of another
                      ScheduleRevision can be dependent on the
                      ScheduleTaskRevision elements of this ScheduleRevision.
      progressLinked: Whether the fraction complete is linked to the actual
                      work.
      schedulingInfoRequiresRecalc: Whether the scheduling information of the
                      ScheduleRevision requires recalculation.
      executionInfoRequiresRecalc: Whether the execution information of the
                      ScheduleRevision requires recalculation.
      masterSubInfoRequiresRecalc: Whether the master and sub information of
                      the ScheduleRevision requires recalculation.
      rightsMask:     Whether the ScheduleMember elements referenced by
                      scheduleMemberRefs can modify the ScheduleTaskRevision
                      referenced by the summaryTaskRef attribute.
      scheduledEndDate: When a ScheduleTaskRevision is completed, its end
                      attribute is set to its scheduled end date if
                      scheduledEndDate is true and to the system date if
                      scheduledEndDate is false.
      start:          The date and time of the start of the ScheduleRevision.
      end:            The date and time of the end of the ScheduleRevision.
      deliverableRefs: A list of references to the Deliverable elements for
                      this ScheduleRevision.
      scheduleMemberRefs: A list of references to the ScheduleMember elements
                      for this ScheduleRevision.
      notificationsEnabled: Whether notifications on the ScheduleRevision are
                      enabled.
      archiveNotifications: Whether the notifications are archived when the
                      ScheduleRevision is completed.
      latestStart:    The date and time of the latest allowable start of the
                      ScheduleRevision. The start date and time is not allowed
                      to be later even if a sub-schedule starts later.
      earliestEnd:    The date and time of the earliest allowable end of the
                      ScheduleRevision. The end date and time is not allowed
                      to be earlier even if a sub-schedule ends earlier.
      wBSFormat:      The format of the work breakdown structure identifier as
                      a string.
      wBSValue:       The value of the work breakdown structure identifier as
                      a string.
      useEnd:         Whether to use the date and time of the end of the
                      ScheduleRevision, given in the end attribute, for
                      scheduling. The default value is false, which means that
                      the date and time of the start of the ScheduleRevision,
                      given in the start attribute, should be used for
                      scheduling.
      type:           The type of the schedule.
      masterScheduleRef: Reference a Schedule, which represents the master
                      schedule when this Schedule/ScheduleRevision set
                      represents a sub-schedule.
      finalStatus:    The customizable status of the schedule.
      proxyTaskRefs:  References the proxy tasks.
      calendarRef:    References the related calendar.
      allowExecUpdate: Whether execution information of tasks in the schedule
                       may be updated after they have been closed, completed or
                       aborted.
      datesLinked:    Whether scheduled dates are updated to reflect reality
                      when actual dates are updated.

      Sub-elements:

      FixedCostInfo:  Any number of FixedCostInfo sub-elements hold additional
                      information about the fixed costs associated with the
                      ScheduleRevision. Deprecated.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureRevisionBase">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="FixedCostInfo" type="plm:FixedCostInfoType" plm:deprecated="true"/>
        </xsd:choice>
        <xsd:attribute name="isBaseline" type="xsd:boolean" default="false"/>
        <xsd:attribute name="baselineCostRef" type="plm:anyURIType" use="optional" plm:refType="plm:Money" plm:deprecated="true"/>
        <xsd:attribute name="summaryTaskRef" type="plm:anyURIType" use="optional" plm:refType="plm:ScheduleTaskRevision plm:UnversionedScheduleTask"/>
        <xsd:attribute name="isTemplate" type="xsd:boolean" default="false"/>
        <xsd:attribute name="progress" type="plm:ScheduleProgressEnum" default="notStarted"/>
        <xsd:attribute name="priority" type="plm:SchedulePriorityEnum" default="medium"/>
        <xsd:attribute name="isPublished" type="xsd:boolean" default="true"/>
        <xsd:attribute name="isPublic" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="linksAllowed" type="xsd:boolean" default="true"/>
        <xsd:attribute name="progressLinked" type="xsd:boolean" default="false"/>
        <xsd:attribute name="schedulingInfoRequiresRecalc" type="xsd:boolean" default="false"/>
        <xsd:attribute name="executionInfoRequiresRecalc" type="xsd:boolean" default="false"/>
        <xsd:attribute name="masterSubInfoRequiresRecalc" type="xsd:boolean" default="false"/>
        <xsd:attribute name="rightsMask" type="xsd:boolean" default="false"/>
        <xsd:attribute name="scheduledEndDate" type="xsd:boolean" default="false"/>
        <xsd:attribute name="start" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="end" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="deliverableRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:ScheduleDeliverable"/>
        <xsd:attribute name="scheduleMemberRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:ScheduleMember"/>
        <xsd:attribute name="notificationsEnabled" type="xsd:boolean" default="false"/>
        <xsd:attribute name="archiveNotifications" type="xsd:boolean" default="false"/>
        <xsd:attribute name="latestStart" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="earliestEnd" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="wBSFormat" type="xsd:string" use="optional"/>
        <xsd:attribute name="wBSValue" type="xsd:string" use="optional"/>
        <xsd:attribute name="useEnd" type="xsd:boolean" default="false"/>
        <xsd:attribute name="type" type="plm:ScheduleEnum" default="normal"/>
        <xsd:attribute name="masterScheduleRef" type="plm:anyURIType" use="optional" plm:refType="plm:Schedule plm:UnversionedSchedule"/>
        <xsd:attribute name="finalStatus" type="xsd:string" use="optional"/>
        <xsd:attribute name="proxyTaskRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:ScheduleTask plm:ProxyTask plm:UnversionedScheduleTask"/>
        <xsd:attribute name="calendarRef" type="plm:anyURIType" use="optional" plm:refType="plm:Calendar"/>
        <xsd:attribute name="allowExecUpdate" type="xsd:boolean" default="false"/>
        <xsd:attribute name="datesLinked" type="xsd:boolean" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScheduleRevision" type="plm:ScheduleRevisionType" substitutionGroup="plm:StructureRevision"/>
  <!-- -->
  <!-- ********************** ScheduleDeliverable ************************ -->
  <!-- -->
  <xsd:complexType name="ScheduleDeliverableType">
    <xsd:annotation>
      <xsd:documentation>
      Represents a deliverable of a ScheduleRevision.

      Attributes:

      type:           The type of the deliverable.
      name:           Inherited from AttribOwnerBase.
      deliverableRef: A reference to the deliverable object.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="type" type="xsd:string" use="optional"/>
        <xsd:attribute name="deliverableRef" type="plm:anyURIType" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScheduleDeliverable" type="plm:ScheduleDeliverableType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** ScheduleTask ******************************* -->
  <!-- -->
  <xsd:complexType name="ScheduleTaskType" plm:deprecated="true">
    <xsd:annotation>
      <xsd:documentation>
      Represents a task of a schedule.

      Attributes:

      name:           Inherited from StructureBase.
      originalRef:    References the original task when this task represents a
                      baseline task.

      Sub-elements:

      Description:    Inherited from StructureBase.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureBase">
        <xsd:attribute name="originalRef" type="plm:anyURIType" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScheduleTask" type="plm:ScheduleTaskType" substitutionGroup="plm:Structure"/>
  <!-- -->
  <!-- ********************** WorkflowTriggerEnum ************************ -->
  <!-- -->
  <xsd:simpleType name="WorkflowTriggerEnum">
    <xsd:annotation>
      <xsd:documentation>
      none:           Any workflow is not triggered.
      predecessors:   The workflow is triggered when the predecessor
                      ScheduleTaskRevision elements are complete.
      start:          The workflow is triggered when the start date and time
                      of the ScheduleTaskRevision arrive.
      both:           The workflow is triggered when the conditions for both
                      predecessors and start are met.
      either:         The workflow is triggered when the condition for either
                      predecessors or start is met.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="predecessors"/>
      <xsd:enumeration value="start"/>
      <xsd:enumeration value="both"/>
      <xsd:enumeration value="either"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** TaskSchedulingInfoType ********************* -->
  <!-- -->
  <xsd:complexType name="TaskSchedulingInfoType">
    <xsd:annotation>
      <xsd:documentation>
      Represents additional information about planning a ScheduleTaskRevision.

      Attributes:

      start:          The planned date and time of the start of the
                      ScheduleTaskRevision.
      end:            The planned date and time of the end of the
                      ScheduleTaskRevision.
      duration:       The duration of the task.
      work:           An estimate of the amount of person-time involved in the
                      ScheduleTaskRevision.
      deliverableRefs: A list of references to the ScheduleTaskDeliverable
                      elements for the ScheduleTaskRevision.
      workflowTemplateRef: A reference to the WorkflowTemplate associated with
                      the ScheduleTaskRevision.
      workflowTrigger: The trigger criteria for the workflow associated with
                      the ScheduleTaskRevision.
      wBSValue:       The value of the work breakdown structure identifier as
                      a string.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttributeBase">
        <xsd:attribute name="start" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="end" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="duration" type="xsd:duration" use="optional"/>
        <xsd:attribute name="work" type="xsd:duration" use="optional"/>
        <xsd:attribute name="deliverableRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:ScheduleTaskDeliverable"/>
        <xsd:attribute name="workflowTemplateRef" type="plm:anyURIType" use="optional" plm:refType="plm:WorkflowTemplate"/>
        <xsd:attribute name="workflowTrigger" type="plm:WorkflowTriggerEnum" default="none"/>
        <xsd:attribute name="wBSValue" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- -->
  <!-- ********************** TaskExecutionInfoType ********************** -->
  <!-- -->
  <xsd:complexType name="TaskExecutionInfoType">
    <xsd:annotation>
      <xsd:documentation>
      Represents additional information about the actual execution of a
      ScheduleTaskRevision.

      Attributes:

      progress:       The progress of the ScheduleTaskRevision.
      start:          The actual date and time of the start of the
                      ScheduleTaskRevision.
      end:            The actual date and time of the end of the
                      ScheduleTaskRevision.
      fraction:       The fraction of work completed in the
                      ScheduleTaskRevision.
      completedWork:  The amount of person-time completed in the
                      ScheduleTaskRevision.
      workflowRef:    A reference to the workflow or task associated with the
                      ScheduleTaskRevision.
      approvedWork:   The amount of person-time approved for the
                      ScheduleTaskRevision.
      remainingWork:  The amount of person-time remaining in the task.
      finalStatus:    The customizable status of the task.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttributeBase">
        <xsd:attribute name="progress" type="plm:ScheduleProgressEnum" default="notStarted"/>
        <xsd:attribute name="start" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="end" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="fraction" type="xsd:double" use="optional"/>
        <xsd:attribute name="completedWork" type="xsd:duration" use="optional"/>
        <xsd:attribute name="workflowRef" type="plm:anyURIType" use="optional"/>
        <xsd:attribute name="approvedWork" type="xsd:duration" use="optional"/>
        <xsd:attribute name="remainingWork" type="xsd:duration" use="optional"/>
        <xsd:attribute name="finalStatus" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- -->
  <!-- ********************** ScheduleTaskFixedEnum ********************** -->
  <!-- -->
  <xsd:simpleType name="ScheduleTaskFixedEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="work"/>
      <xsd:enumeration value="duration"/>
      <xsd:enumeration value="resources"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleTaskEnum *************************** -->
  <!-- -->
  <xsd:simpleType name="ScheduleTaskEnum">
    <xsd:annotation>
      <xsd:documentation>
      standard:       A task with no subtasks that can be scheduled, have
                      resources assigned to it and have deliverables.
      milestone:      A reference point marking a major event in a project and
                      used to monitor the progress of the project.
      summary:        A task that is made up of subtasks and summarises those
                      subtasks.
      phase:          A group of related tasks that completes a major step in
                      a project.
      gate:           A task that must be completed for a phase task to be
                      completed.
      scheduleSummary: A task that is made up of all the tasks in a schedule and
                      summarises those tasks.
      orphan:         A task that is not associated with a schedule.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="standard"/>
      <xsd:enumeration value="milestone"/>
      <xsd:enumeration value="summary"/>
      <xsd:enumeration value="phase"/>
      <xsd:enumeration value="gate"/>
      <xsd:enumeration value="scheduleSummary"/>
      <xsd:enumeration value="orphan"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleTaskConstraintEnum ***************** -->
  <!-- -->
  <xsd:simpleType name="ScheduleTaskConstraintEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="startNoLaterThan"/>
      <xsd:enumeration value="asLateAsPossible"/>
      <xsd:enumeration value="asSoonAsPossible"/>
      <xsd:enumeration value="fixed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleTaskRevision *********************** -->
  <!-- -->
  <xsd:complexType name="ScheduleTaskRevisionType">
    <xsd:annotation>
      <xsd:documentation>
      Represents a revision of a task of a schedule.

      Attributes:

      isBaseline:     Whether the ScheduleTaskRevision is a baseline.
      scheduleRef:    A reference to the ScheduleRevision that contains this
                      ScheduleTaskRevision.
      baselineCostRef: If the ScheduleTaskRevision is a baseline,
                      baselineCostRef references a Money element representing
                      the baseline cost of the ScheduleTaskRevision and its
                      sub-tasks. Deprecated.
      childRefs:      A list of references to the child ScheduleTaskRevision
                      elements of this ScheduleTaskRevision.
      type:           The type of the ScheduleTaskRevision.
      constraint:     The constraint on the ScheduleTaskRevision.
      fixed:          Whether the work, duration or resources of the
                      ScheduleTaskRevision are fixed.
      priority:       The priority of the ScheduleTaskRevision.
      autoComplete:   If the type attribute is milestone, autoComplete
                      represents whether the ScheduleTaskRevision becomes
                      complete when all predecessor ScheduleTaskRevision
                      elements become complete.
      workflowResourceAssignmentRef: A reference to the ResourceAssignment
                      that receives workflow notifications for the
                      ScheduleTaskRevision.
      workflowOwnerRef: References the workflow process owner.

      Sub-elements:

      FixedCostInfo:  Any number of FixedCostInfo sub-elements hold additional
                      information about the fixed costs associated with the
                      ScheduleTaskRevision.
      TaskSchedulingInfo: A ScheduleTaskRevision may have a TaskSchedulingInfo
                      sub-element to hold additional information about
                      planning the ScheduleTaskRevision.
      TaskExecutionInfo: A ScheduleTaskRevision may have a TaskExecutionInfo
                      sub-element to hold additional information about the
                      actual execution of the ScheduleTaskRevision.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:StructureRevisionBase">
        <xsd:sequence>
          <xsd:element name="FixedCostInfo" type="plm:FixedCostInfoType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="TaskSchedulingInfo" type="plm:TaskSchedulingInfoType" minOccurs="0"/>
          <xsd:element name="TaskExecutionInfo" type="plm:TaskExecutionInfoType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="isBaseline" type="xsd:boolean" default="false"/>
        <xsd:attribute name="scheduleRef" type="plm:anyURIType" use="optional" plm:refType="plm:ScheduleRevision plm:UnversionedSchedule"/>
        <xsd:attribute name="baselineCostRef" type="plm:anyURIType" use="optional" plm:refType="plm:Money" plm:deprecated="true"/>
        <xsd:attribute name="childRefs" type="plm:uriReferenceListType" use="optional" plm:refType="plm:ScheduleTaskRevision plm:UnversionedScheduleTask"/>
        <xsd:attribute name="type" type="plm:ScheduleTaskEnum" default="standard"/>
        <xsd:attribute name="constraint" type="plm:ScheduleTaskConstraintEnum" default="asSoonAsPossible"/>
        <xsd:attribute name="fixed" type="plm:ScheduleTaskFixedEnum" default="work"/>
        <xsd:attribute name="priority" type="plm:SchedulePriorityEnum" default="medium"/>
        <xsd:attribute name="autoComplete" type="xsd:boolean" default="false"/>
        <xsd:attribute name="workflowResourceAssignmentRef" type="plm:anyURIType" use="optional" plm:refType="plm:ResourceAssignment"/>
        <xsd:attribute name="workflowOwnerRef" type="plm:anyURIType" use="optional" plm:refType="plm:User"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScheduleTaskRevision" type="plm:ScheduleTaskRevisionType" substitutionGroup="plm:StructureRevision"/>
  <!-- -->
  <!-- ********************** ScheduleTaskDeliverableSubmitEnum ********** -->
  <!-- -->
  <xsd:simpleType name="ScheduleTaskDeliverableSubmitEnum">
    <xsd:annotation>
      <xsd:documentation>
      target:         The deliverable is submitted as a target for an
                      associated workflow.
      reference:      The deliverable is submitted as a reference for an
                      associated workflow.
      none:           The deliverable is not submitted to any associated
                      workflow.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="target"/>
      <xsd:enumeration value="reference"/>
      <xsd:enumeration value="none"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleTaskDeliverable ******************** -->
  <!-- -->
  <xsd:complexType name="ScheduleTaskDeliverableType">
    <xsd:annotation>
      <xsd:documentation>
      Represents a deliverable of a ScheduleTaskRevision.

      Attributes:

      submit:         The type of the deliverable.
      deliverableRef: A reference to the parent ScheduleDeliverable.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="submit" type="plm:ScheduleTaskDeliverableSubmitEnum" default="target"/>
        <xsd:attribute name="deliverableRef" type="plm:anyURIType" use="optional" plm:refType="plm:ScheduleDeliverable"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScheduleTaskDeliverable" type="plm:ScheduleTaskDeliverableType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** ScheduleTaskDependencyEnum ***************** -->
  <!-- -->
  <xsd:simpleType name="ScheduleTaskDependencyEnum">
    <xsd:annotation>
      <xsd:documentation>
      endToStart:     One ScheduleTaskRevision cannot start until the other is
                      complete.
      endToEnd:       One ScheduleTaskRevision cannot be completed until the
                      other is complete.
      startToStart:   One ScheduleTaskRevision cannot start until the other
                      has started.
      startToEnd:     One ScheduleTaskRevision cannot be completed until the
                      other has started.
      phaseGate:      The type attribute of one ScheduleTaskRevision is phase
                      and that of the other is gate.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="endToStart"/>
      <xsd:enumeration value="endToEnd"/>
      <xsd:enumeration value="startToStart"/>
      <xsd:enumeration value="startToEnd"/>
      <xsd:enumeration value="phaseGate"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleTaskDependency ********************* -->
  <!-- -->
  <xsd:complexType name="ScheduleTaskDependencyType">
    <xsd:annotation>
      <xsd:documentation>
      Represents the dependency between two ScheduleTaskRevision elements.

      Attributes:

      dependency:     The dependency between the two ScheduleTaskRevision
                      elements.
      lag:            The amount of time between the start or end of one
                      ScheduleTaskRevision and the start or end of the other.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:GeneralRelationType">
        <xsd:attribute name="dependency" type="plm:ScheduleTaskDependencyEnum" default="endToStart"/>
        <xsd:attribute name="lag" type="xsd:duration" default="PT0S"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScheduleTaskDependency" type="plm:ScheduleTaskDependencyType" substitutionGroup="plm:GeneralRelation"/>
  <!-- -->
  <!-- ********************** ResourceAssignment ************************* -->
  <!-- -->
  <xsd:complexType name="ResourceAssignmentType">
    <xsd:annotation>
      <xsd:documentation>
      Represents the assignment of a User, Organisation or Discipline to a
      ScheduleTaskRevision.

      Attributes:

      workingTimeFraction: The fraction of the working time according to its
                      Calendar that the ScheduleMember commits to the
                      ScheduleTaskRevision.
      disciplineRef:  A reference to the Discipline that the
                      ScheduleTaskRevision is assigned to.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:GeneralRelationType">
        <xsd:attribute name="workingTimeFraction" type="xsd:double" default="1.0"/>
        <xsd:attribute name="disciplineRef" type="plm:anyURIType" use="optional" plm:refType="plm:Discipline"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ResourceAssignment" type="plm:ResourceAssignmentType" substitutionGroup="plm:GeneralRelation"/>
  <!-- -->
  <!-- ********************** ScheduleMemberPrivilegeEnum **************** -->
  <!-- -->
  <xsd:simpleType name="ScheduleMemberPrivilegeEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="observer"/>
      <xsd:enumeration value="participant"/>
      <xsd:enumeration value="coordinator"/>
      <xsd:enumeration value="proxy"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** ScheduleMember ***************************** -->
  <!-- -->
  <xsd:complexType name="ScheduleMemberType">
    <xsd:annotation>
      <xsd:documentation>
      Represents a User, Organisation or Discipline that is assigned to a
      ScheduleTaskRevision.

      Attributes:

      calendarRef:    A reference to the Calendar of the ScheduleMember.
      resourceRef:    A reference to the User, Organisation, Discipline, Role or
                      ResourcePool that constitutes the ScheduleMember.
      privilege:      The privilege of the ScheduleMember.
      moneyRef:       A reference to the Money element that represents the
                      rate of pay of the ScheduleMember per day.
      scheduleRef:    If the ScheduleMember is a member of a schedule by proxy,
                      scheduleRef references the master schedule.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="calendarRef" type="plm:anyURIType" use="optional" plm:refType="plm:Calendar"/>
        <xsd:attribute name="resourceRef" type="plm:anyURIType" use="optional" plm:refType="plm:User plm:Organisation plm:Discipline plm:Role plm:ResourcePool"/>
        <xsd:attribute name="privilege" type="plm:ScheduleMemberPrivilegeEnum" default="observer"/>
        <xsd:attribute name="moneyRef" type="plm:anyURIType" use="optional" plm:refType="plm:Money"/>
        <xsd:attribute name="scheduleRef" type="plm:anyURIType" use="optional" plm:refType="plm:Schedule plm:UnversionedSchedule"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ScheduleMember" type="plm:ScheduleMemberType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** TimeCategoryEnum ***************************** -->
  <!-- -->
  <xsd:simpleType name="TimeCategoryEnum">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="vacation"/>
      <xsd:enumeration value="holiday"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- -->
  <!-- ********************** TimeSheetRecord **************************** -->
  <!-- -->
  <xsd:complexType name="TimeSheetRecordType">
    <xsd:annotation>
      <xsd:documentation>
      Represents the actual work completed by a User.

      Attributes:

      date:           The date of the TimeSheetRecord.
      work:           The amount of person-time completed in this
                      TimeSheetRecord.
      billingRateRef: A reference to the BillingRate for the TimeSheetRecord.
      billingCode:    The billing code for the TimeSheetRecord.
      billingSubCode: The billing sub code for the TimeSheetRecord.
      billingType:    Deprecated in favour of customBillingType.
      taskRef:        A reference to the ScheduleTask for the TimeSheetRecord.
      userRef:        A reference to the User.
      timeCategory:   The category of time in this TimeSheetRecord.
      customBillingType: The billing type for the TimeSheetRecord.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:AttribOwnerBase">
        <xsd:attribute name="date" type="xsd:date" use="optional"/>
        <xsd:attribute name="work" type="xsd:duration" use="optional"/>
        <xsd:attribute name="billingRateRef" type="plm:anyURIType" use="optional" plm:refType="plm:BillingRate"/>
        <xsd:attribute name="billingCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="billingSubCode" type="xsd:string" use="optional"/>
        <xsd:attribute name="billingType" type="plm:FixedCostBillingTypeEnum" use="optional" plm:deprecated="true"/>
        <xsd:attribute name="taskRef" type="plm:anyURIType" use="optional" plm:refType="plm:ScheduleTask plm:ScheduleTaskRevision plm:UnversionedScheduleTask"/>
        <xsd:attribute name="userRef" type="plm:anyURIType" use="optional" plm:refType="plm:User"/>
        <xsd:attribute name="timeCategory" type="plm:TimeCategoryEnum" use="optional"/>
        <xsd:attribute name="customBillingType" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TimeSheetRecord" type="plm:TimeSheetRecordType" substitutionGroup="plm:AttribOwner"/>
  <!-- -->
  <!-- ********************** ProxyTask ************************************ -->
  <!-- -->
  <xsd:complexType name="ProxyTaskType">
    <xsd:annotation>
      <xsd:documentation>
      Represents a proxy task in a schedule. The real task is in a different
      schedule.

      Attributes:

      constraint:     The constraint on the proxy task.
      end:            The date and time of the end of the proxy task.
      fraction:       The actual fraction of work completed in the proxy task.
      completedWorkFraction: The calculated fraction of work completed in the
                      proxy task.
      displayTaskRef: References the task under which the proxy task is
                      displayed.
      scheduleName:   The name of the schedule for the real task.
      start:          The date and time of the start of the proxy task.
      finalStatus:    The customizable status of the proxy task.
      scheduleTaskRef: References the real task.
      type:           The type of the proxy task.
      scheduleRef:    References the schedule for the proxy task.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:ManagedBase">
        <xsd:attribute name="constraint" type="plm:ScheduleTaskConstraintEnum" default="asSoonAsPossible"/>
        <xsd:attribute name="end" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="fraction" type="xsd:double" use="optional"/>
        <xsd:attribute name="completedWorkFraction" type="xsd:double" use="optional"/>
        <xsd:attribute name="displayTaskRef" type="plm:anyURIType" use="optional" plm:refType="plm:Managed"/>
        <xsd:attribute name="scheduleName" type="xsd:string" use="optional"/>
        <xsd:attribute name="start" type="xsd:dateTime" use="optional"/>
        <xsd:attribute name="finalStatus" type="xsd:string" use="optional"/>
        <xsd:attribute name="scheduleTaskRef" type="plm:anyURIType" use="optional" plm:refType="plm:ScheduleTask plm:UnversionedScheduleTask"/>
        <xsd:attribute name="type" type="plm:ScheduleTaskEnum" default="standard"/>
        <xsd:attribute name="scheduleRef" type="plm:anyURIType" use="optional" plm:refType="plm:Schedule plm:UnversionedSchedule"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ProxyTask" type="plm:ProxyTaskType" substitutionGroup="plm:Managed"/>
  <!-- -->
  <!-- ********************** UnversionedSchedule ************************** -->
  <!-- -->
  <xsd:complexType name="UnversionedScheduleType">
    <xsd:annotation>
      <xsd:documentation>
      Represents an unversioned schedule.

      Attributes:

      catalogueId:      The identifier of the schedule, unique in some context,
                        such as an Organisation.
      customerName:     The name of the customer.
      customerNumber:   The number of the customer.
      customerNameRef:  References a multiple language version of customerName.
                        If multiple language support is required,
                        customerNameRef should be used in addition to
                        customerName.
      customerNumberRef: References a multiple language version of
                        customerNumber. If multiple language support is
                        required, customerNumberRef should be used in addition
                        to customerNumber.
      activeBaselineRef: References the active baseline schedule.
      baselineRefs:     References the related baseline schedules.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:ScheduleRevisionType">
        <xsd:attribute name="catalogueId" type="xsd:string" use="optional" />
        <xsd:attribute name="customerName" type="xsd:string" use="optional" />
        <xsd:attribute name="customerNumber" type="xsd:string" use="optional" />
        <xsd:attribute name="customerNameRef" type="plm:anyURIType" use="optional" plm:refType="plm:Text" />
        <xsd:attribute name="customerNumberRef" type="plm:anyURIType" use="optional" plm:refType="plm:Text" />
        <xsd:attribute name="activeBaselineRef" type="plm:anyURIType" use="optional" plm:refType="plm:UnversionedSchedule" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UnversionedSchedule" type="plm:UnversionedScheduleType" substitutionGroup="plm:StructureRevision" />
  <!-- -->
  <!-- ********************** UnversionedScheduleTask ********************** -->
  <!-- -->
  <xsd:complexType name="UnversionedScheduleTaskType">
    <xsd:annotation>
      <xsd:documentation>
      Represents an unversioned task of a schedule.

      Attributes:

      catalogueId:      The identifier of the task, unique in some context, such
                        as an Organisation.
      originalRef:      References the original task when this task represents a
                        baseline task.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="plm:ScheduleTaskRevisionType">
        <xsd:attribute name="catalogueId" type="xsd:string" use="optional" />
        <xsd:attribute name="originalRef" type="plm:anyURIType" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UnversionedScheduleTask" type="plm:UnversionedScheduleTaskType" substitutionGroup="plm:StructureRevision" />
</xsd:schema>
